html {
  background-color: #F4E3F2;
}

#Header {
  text-transform: lowercase;
  font-size: 55px;
  text-align: left;
  color: dimgrey;
  margin-left: 15px;
  margin-top: 45px;
  margin-bottom: 15px;
}

img {
  display: block;
  margin: auto;
  width: 20%;
  padding: 20px;
  margin-bottom: 30px;
}

.paragraph {
  font-family: Trebuchet;
  color: rgba(105,105,105,0.8);
  text-align: center;
  text-transform: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  line-height: 20px;
  font-size: 14px;
}

#portfolio {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: dimgrey;
  font-size: 16px;
}

a:hover {
  color: hotpink;
}

.homepage-link {
  margin-top: 35px;
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
}

.gallery-link {
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
  line-height: 40px;
}

.contact-link {
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
}

@media all and (max-width: 480px) {


  .paragraph {
    float: left;
    text-align: left;
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 60px;
    font-weight: bold;
  }

  .contact-link {
    float: left;
    margin-left: 15px;
    font-size: 16px;
    color: dimgrey;
    border-style: border-box;
  }

  .gallery-link {
    float: left;
    margin-left: 15px;
    font-size: 16px;
    color: dimgrey;
    border-style: border-box;
  }

  .homepage-link {
    float: left;
    margin-left: 15px;
    font-size: 16px;
    color: dimgrey;
    border-style: border-box;
  }

.image {
  float: left;
  margin-left: 15px;
}




}
