body {
  background-color: #F4E3F2;
}

h1 {
  text-transform: lowercase;
  font-size: 55px;
  text-align: left;
  margin-left: 15px;
  color: dimgrey;
  margin-top: 20px;
  margin-bottom: 15px;
}

div {
  text-transform: lowercase;
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: dimgrey;
  font-size: 16px;
}

a:hover {
  color: hotpink;
}

.image-container {
  float: left;
  width: 600px;
  height: 600px;
  margin: 15px;
}

.image-container1 {
  background-image: url(1.png);
}

.image-container2 {
  background-image: url(2.png);
}

.image-container3 {
  background-image: url(3.png);
}

.image-container4 {
  background-image: url(4.png);
}

.image-container5 {
  background-image: url(5.png);
}

.image-container6 {
  background-image: url(6.png);
}



@media all and (min-width: 480px) {

  .image-container {
    float: left;
    width: 600px;
    height: 600px;
    margin: 15px;
  }

  .image-container1 {
    background-image: url(1.png);
  }

  .image-container2 {
    background-image: url(2.png);
  }

  .image-container3 {
    background-image: url(3.png);
  }

  .image-container4 {
    background-image: url(4.png);
  }

  .image-container5 {
    background-image: url(5.png);
  }

  .image-container6 {
    background-image: url(6.png);
  }
}

@media all and (max-width: 480px) {

  .image-container {
    float: left;
    width: 300px;
    height: 300px;
    margin: 15px;
    background-size: cover;
  }

  .image-container1 {
    background-image: url(1.png);
  }

  .image-container2 {
    background-image: url(2.png);
  }

  .image-container3 {
    background-image: url(3.png);
  }

  .image-container4 {
    background-image: url(4.png);
  }

  .image-container5 {
    background-image: url(5.png);
  }

  .image-container6 {
    background-image: url(6.png);
  }

  a {
    font-weight: bold;
  }
}
