html {
  background-color: #F4E3F2;
}

h1 {
  text-align: left;
  text-transform: lowercase;
  font-size: 55px;
  color: dimgrey;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.image-container1 {
  width: 600px;
  margin-left: 400px;
}

a:hover {
  color: hotpink;
}

a {
  text-decoration: none;
  color: dimgrey;
  font-size: 16px;
}

.about {
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
}

.gallery {
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
}

.gallery {
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
}
