html {
  background-color: #F4E3F2;
}

h1 {
  text-align: left;
  text-transform: lowercase;
  font-size: 55px;
  color: dimgrey;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.image-container {
  width: 600px;
  margin-left: 400px;
}

a:hover {
  color: hotpink;
}

a {
  text-decoration: none;
  color: dimgrey;
  font-size: 16px;
}

.about {
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
}

.gallery {
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
  line-height: 40px;
}

.contact {
  margin-left: 15px;
  font-size: 16px;
  color: dimgrey;
}

ul{
  list-style-type: none;
}

@media all and (max-width: 480px){

  .image-container {
    float: left;
    width: 300px;
    height: 300px;
    margin: 15px;
  }

  .links {
    float: left;
    font-weight: bold;
  }

  #image {
    width: 300px;
    float:left;
    margin-left: 23px;
  }




}
